*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Footer */

body {
    background-image: url("../images/messi_copa_2022.webp");
    background-size: 100%;
    background-position: center;
    height: 90vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
