<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/fav.jpg') }}" type="image/x-icon">
    <title>
        
        {% block title %} WC2026 {% endblock %}
        
    </title>
</head>
<body>
    <header>
        <!-- Común -->
    </header>
    <section>
        <!-- Bloque contenido default (Contador) -->
        {% block counter %}
            <h1>Contador</h1>
            <p> {{ years }} - {{ months }} - {{ days }} - {{ hours }} - {{ minutes }} - {{ seconds }}</p>
        {% endblock %}
    </section>
    <footer>
        <!-- Común -->
    </footer>
    
</body>
</html>
