{% extends './layout.html' %}

{% block title %} ARGENTINA 2026 {% endblock %}

{% block counter %} {% endblock %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <footer>
        {% block footer %} 
        <div class="footer">
            <div id="texto-autor">
                <p>Creado por asd</p>
            </div>
            <div class="links">
                <a>Instagram</a>
                <a>Github</a>
                <a>Youtube</a>
            </div>
        </div> 
        {% endblock %}
    </footer>
    <script>
        function actualizarContador() {
            fetch('/tiempo_restante')  // Hace una solicitud GET a la ruta '/tiempo_restante'
                .then(response => response.json())
                .then(data => {
                    document.getElementById('countdown').innerText = `${data.years} años, ${data.months} meses, ${data.days} días, ${data.hours} horas, ${data.minutes} minutos, ${data.seconds} segundos`;
                });
        }

        actualizarContador();  // Actualiza el contador inmediatamente al cargar la página
        setInterval(actualizarContador, 1000);  // Actualiza el contador cada segundo
    </script>
</body>
</html>
